In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

In [3]:
movie = pd.read_csv("movies.csv")

/opt/anaconda3/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3071: DtypeWarning: Columns (3) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

In [4]:
movie.head()

,imdb_title_id,title,original_title,year,date_published,genre,duration,country,language,director,...,actors,description,avg_vote,votes,budget,usa_gross_income,worlwide_gross_income,metascore,reviews_from_users,reviews_from_critics
0,tt0000009,Miss Jerry,Miss Jerry,1894,1894-10-09,Romance,45,USA,None,Alexander Black,...,"Blanche Bayliss, William Courtenay, Chauncey D...",The adventures of a female reporter in the 1890s.,5.9,154,NaN,NaN,NaN,NaN,1.0,2.0
1,tt0000574,The Story of the Kelly Gang,The Story of the Kelly Gang,1906,1906-12-26,"Biography, Crime, Drama",70,Australia,None,Charles Tait,...,"Elizabeth Tait, John Tait, Norman Campbell, Be...",True story of notorious Australian outlaw Ned ...,6.1,589,$ 2250,NaN,NaN,NaN,7.0,7.0
2,tt0001892,Den sorte drøm,Den sorte drøm,1911,1911-08-19,Drama,53,"Germany, Denmark",NaN,Urban Gad,...,"Asta Nielsen, Valdemar Psilander, Gunnar Helse...",Two men of high rank are both wooing the beaut...,5.8,188,NaN,NaN,NaN,NaN,5.0,2.0
3,tt0002101,Cleopatra,Cleopatra,1912,1912-11-13,"Drama, History",100,USA,English,Charles L. Gaskill,...,"Helen Gardner, Pearl Sindelar, Miss Fielding, ...",The fabled queen of Egypt's affair with Roman ...,5.2,446,$ 45000,NaN,NaN,NaN,25.0,3.0
4,tt0002130,L'Inferno,L'Inferno,1911,1911-03-06,"Adventure, Drama, Fantasy",68,Italy,Italian,"Francesco Bertolini, Adolfo Padovan",...,"Salvatore Papa, Arturo Pirovano, Giuseppe de L...",Loosely adapted from Dante's Divine Comedy and...,7.0,2237,NaN,NaN,NaN,NaN,31.0,14.0

In [9]:
index = movie.index

In [12]:
columns = movie.columns

In [11]:
values = movie.values

In [13]:
print(index)
print(columns)
print(values)

RangeIndex(start=0, stop=85855, step=1)
Index(['imdb_title_id', 'title', 'original_title', 'year', 'date_published',
       'genre', 'duration', 'country', 'language', 'director', 'writer',
       'production_company', 'actors', 'description', 'avg_vote', 'votes',
       'budget', 'usa_gross_income', 'worlwide_gross_income', 'metascore',
       'reviews_from_users', 'reviews_from_critics'],
      dtype='object')
[['tt0000009' 'Miss Jerry' 'Miss Jerry' ... nan 1.0 2.0]
 ['tt0000574' 'The Story of the Kelly Gang' 'The Story of the Kelly Gang'
  ... nan 7.0 7.0]
 ['tt0001892' 'Den sorte drøm' 'Den sorte drøm' ... nan 5.0 2.0]
 ...
 ['tt9911774' 'Padmavyuhathile Abhimanyu' 'Padmavyuhathile Abhimanyu' ...
  nan nan nan]
 ['tt9914286' 'Sokagin Çocuklari' 'Sokagin Çocuklari' ... nan nan nan]
 ['tt9914942' 'La vida sense la Sara Amat' 'La vida sense la Sara Amat'
  ... nan nan 2.0]]

In [14]:
type(index)

pandas.core.indexes.range.RangeIndex

In [15]:
type(columns)

pandas.core.indexes.base.Index

In [16]:
type(values)

numpy.ndarray

In [18]:
issubclass(pd.RangeIndex, pd.Index)

True

In [19]:
index.values

array([    0,     1,     2, ..., 85852, 85853, 85854])

In [20]:
columns.values

array(['imdb_title_id', 'title', 'original_title', 'year',
       'date_published', 'genre', 'duration', 'country', 'language',
       'director', 'writer', 'production_company', 'actors',
       'description', 'avg_vote', 'votes', 'budget', 'usa_gross_income',
       'worlwide_gross_income', 'metascore', 'reviews_from_users',
       'reviews_from_critics'], dtype=object)

In [22]:
movie.dtypes

imdb_title_id             object
title                     object
original_title            object
year                      object
date_published            object
genre                     object
duration                   int64
country                   object
language                  object
director                  object
writer                    object
production_company        object
actors                    object
description               object
avg_vote                 float64
votes                      int64
budget                    object
usa_gross_income          object
worlwide_gross_income     object
metascore                float64
reviews_from_users       float64
reviews_from_critics     float64
dtype: object

In [27]:
movie.dtypes.value_counts()

object     16
float64     4
int64       2
dtype: int64

In [29]:
movie.director

0                            Alexander Black
1                               Charles Tait
2                                  Urban Gad
3                         Charles L. Gaskill
4        Francesco Bertolini, Adolfo Padovan
                        ...
85850                 Ludovic Colbeau-Justin
85851                        Johan Nijenhuis
85852                        Vineesh Aaradya
85853                      Ahmet Faik Akinci
85854                              Laura Jou
Name: director, Length: 85855, dtype: object

In [30]:
type(movie['director'])

pandas.core.series.Series

In [32]:
director = movie['director']

In [34]:
director.name

'director'

In [35]:
director.to_frame()

                                  director
0                          Alexander Black
1                             Charles Tait
2                                Urban Gad
3                       Charles L. Gaskill
4      Francesco Bertolini, Adolfo Padovan
...                                    ...
85850               Ludovic Colbeau-Justin
85851                      Johan Nijenhuis
85852                      Vineesh Aaradya
85853                    Ahmet Faik Akinci
85854                            Laura Jou

[85855 rows x 1 columns]

In [36]:
s_attr_methods = set(dir(pd.Series))

In [37]:
len(s_attr_methods)

433

In [38]:
df_attr_methods = set(dir(pd.DataFrame))

len(df_attr_methods)

430

In [39]:
director = movie['director']

In [40]:
votes = movie['votes']

In [41]:
director.head()

0                        Alexander Black
1                           Charles Tait
2                              Urban Gad
3                     Charles L. Gaskill
4    Francesco Bertolini, Adolfo Padovan
Name: director, dtype: object

In [42]:
votes.head()

0     154
1     589
2     188
3     446
4    2237
Name: votes, dtype: int64

In [44]:
director.value_counts()

Jesús Franco                87
Michael Curtiz              85
Lesley Selander             78
Lloyd Bacon                 73
William Beaudine            70
                            ..
Raj Babu                     1
Alex Lvovsky, Joe Walser     1
Dan Bootzin                  1
Luke White                   1
Rachmania Arunita            1
Name: director, Length: 34733, dtype: int64

In [45]:
votes.value_counts()

102       316
101       315
105       309
100       308
106       295
         ...
14243       1
132502      1
26473       1
8038        1
4098        1
Name: votes, Length: 14933, dtype: int64

In [46]:
director.size

85855

In [47]:
director.shape

(85855,)

In [48]:
len(director)

85855

In [49]:
director.count()

85768

In [51]:
votes.describe()

count    8.585500e+04
mean     9.493490e+03
std      5.357436e+04
min      9.900000e+01
25%      2.050000e+02
50%      4.840000e+02
75%      1.766500e+03
max      2.278845e+06
Name: votes, dtype: float64

In [52]:
director.describe()

count            85768
unique           34733
top       Jesús Franco
freq                87
Name: director, dtype: object

In [56]:
votes.quantile(.25)

205.0

In [57]:
director.isnull()

0        False
1        False
2        False
3        False
4        False
         ...
85850    False
85851    False
85852    False
85853    False
85854    False
Name: director, Length: 85855, dtype: bool

In [58]:
votes.isnull()

0        False
1        False
2        False
3        False
4        False
         ...
85850    False
85851    False
85852    False
85853    False
85854    False
Name: votes, Length: 85855, dtype: bool

In [59]:
votes.fillna(0)

0         154
1         589
2         188
3         446
4        2237
         ...
85850     398
85851     724
85852     265
85853     194
85854     102
Name: votes, Length: 85855, dtype: int64

In [60]:
director.value_counts(normalize=True)

Jesús Franco                0.001014
Michael Curtiz              0.000991
Lesley Selander             0.000909
Lloyd Bacon                 0.000851
William Beaudine            0.000816
                              ...
Raj Babu                    0.000012
Alex Lvovsky, Joe Walser    0.000012
Dan Bootzin                 0.000012
Luke White                  0.000012
Rachmania Arunita           0.000012
Name: director, Length: 34733, dtype: float64

In [61]:
director.hasnans

True

In [63]:
director.notnull()

0        True
1        True
2        True
3        True
4        True
         ...
85850    True
85851    True
85852    True
85853    True
85854    True
Name: director, Length: 85855, dtype: bool

In [64]:
movie.columns

Index(['imdb_title_id', 'title', 'original_title', 'year', 'date_published',
       'genre', 'duration', 'country', 'language', 'director', 'writer',
       'production_company', 'actors', 'description', 'avg_vote', 'votes',
       'budget', 'usa_gross_income', 'worlwide_gross_income', 'metascore',
       'reviews_from_users', 'reviews_from_critics'],
      dtype='object')

In [68]:
director.value_counts().head()

Jesús Franco        87
Michael Curtiz      85
Lesley Selander     78
Lloyd Bacon         73
William Beaudine    70
Name: director, dtype: int64

In [75]:
votes.isnull().mean()

0.0

In [74]:
director.isnull().mean()

0.001013336439345408

In [76]:
director.isnull().sum()

87

In [78]:
movie.columns

Index(['imdb_title_id', 'title', 'original_title', 'year', 'date_published',
       'genre', 'duration', 'country', 'language', 'director', 'writer',
       'production_company', 'actors', 'description', 'avg_vote', 'votes',
       'budget', 'usa_gross_income', 'worlwide_gross_income', 'metascore',
       'reviews_from_users', 'reviews_from_critics'],
      dtype='object')

In [80]:
movie = pd.read_csv("movies.csv", index_col='title')

/opt/anaconda3/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3071: DtypeWarning: Columns (3) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

In [81]:
movie

,imdb_title_id,original_title,year,date_published,genre,duration,country,language,director,writer,...,actors,description,avg_vote,votes,budget,usa_gross_income,worlwide_gross_income,metascore,reviews_from_users,reviews_from_critics
title,,,,,,,,,,,,,,,,,,,,,
Miss Jerry,tt0000009,Miss Jerry,1894,1894-10-09,Romance,45,USA,None,Alexander Black,Alexander Black,...,"Blanche Bayliss, William Courtenay, Chauncey D...",The adventures of a female reporter in the 1890s.,5.9,154,NaN,NaN,NaN,NaN,1.0,2.0
The Story of the Kelly Gang,tt0000574,The Story of the Kelly Gang,1906,1906-12-26,"Biography, Crime, Drama",70,Australia,None,Charles Tait,Charles Tait,...,"Elizabeth Tait, John Tait, Norman Campbell, Be...",True story of notorious Australian outlaw Ned ...,6.1,589,$ 2250,NaN,NaN,NaN,7.0,7.0
Den sorte drøm,tt0001892,Den sorte drøm,1911,1911-08-19,Drama,53,"Germany, Denmark",NaN,Urban Gad,"Urban Gad, Gebhard Schätzler-Perasini",...,"Asta Nielsen, Valdemar Psilander, Gunnar Helse...",Two men of high rank are both wooing the beaut...,5.8,188,NaN,NaN,NaN,NaN,5.0,2.0
Cleopatra,tt0002101,Cleopatra,1912,1912-11-13,"Drama, History",100,USA,English,Charles L. Gaskill,Victorien Sardou,...,"Helen Gardner, Pearl Sindelar, Miss Fielding, ...",The fabled queen of Egypt's affair with Roman ...,5.2,446,$ 45000,NaN,NaN,NaN,25.0,3.0
L'Inferno,tt0002130,L'Inferno,1911,1911-03-06,"Adventure, Drama, Fantasy",68,Italy,Italian,"Francesco Bertolini, Adolfo Padovan",Dante Alighieri,...,"Salvatore Papa, Arturo Pirovano, Giuseppe de L...",Loosely adapted from Dante's Divine Comedy and...,7.0,2237,NaN,NaN,NaN,NaN,31.0,14.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Le lion,tt9908390,Le lion,2020,2020-01-29,Comedy,95,"France, Belgium",French,Ludovic Colbeau-Justin,"Alexandre Coquelle, Matthieu Le Naour",...,"Dany Boon, Philippe Katerine, Anne Serra, Samu...",A psychiatric hospital patient pretends to be ...,5.3,398,NaN,NaN,$ 3507171,NaN,NaN,4.0
De Beentjes van Sint-Hildegard,tt9911196,De Beentjes van Sint-Hildegard,2020,2020-02-13,"Comedy, Drama",103,Netherlands,"German, Dutch",Johan Nijenhuis,"Radek Bajgar, Herman Finkers",...,"Herman Finkers, Johanna ter Steege, Leonie ter...",A middle-aged veterinary surgeon believes his ...,7.7,724,NaN,NaN,$ 7299062,NaN,6.0,4.0
Padmavyuhathile Abhimanyu,tt9911774,Padmavyuhathile Abhimanyu,2019,2019-03-08,Drama,130,India,Malayalam,Vineesh Aaradya,"Vineesh Aaradya, Vineesh Aaradya",...,"Anoop Chandran, Indrans, Sona Nair, Simon Brit...",NaN,7.9,265,NaN,NaN,NaN,NaN,NaN,NaN
Sokagin Çocuklari,tt9914286,Sokagin Çocuklari,2019,2019-03-15,"Drama, Family",98,Turkey,Turkish,Ahmet Faik Akinci,"Ahmet Faik Akinci, Kasim Uçkan",...,"Ahmet Faik Akinci, Belma Mamati, Metin Keçeci,...",NaN,6.4,194,NaN,NaN,$ 2833,NaN,NaN,NaN
La vida sense la Sara Amat,tt9914942,La vida sense la Sara Amat,2019,2020-02-05,Drama,74,Spain,Catalan,Laura Jou,"Coral Cruz, Pep Puig",...,"Maria Morera Colomer, Biel Rossell Pelfort, Is...","Pep, a 13-year-old boy, is in love with a girl...",6.7,102,NaN,NaN,$ 59794,NaN,NaN,2.0

In [83]:
movie.reset_index()

,title,imdb_title_id,original_title,year,date_published,genre,duration,country,language,director,...,actors,description,avg_vote,votes,budget,usa_gross_income,worlwide_gross_income,metascore,reviews_from_users,reviews_from_critics
0,Miss Jerry,tt0000009,Miss Jerry,1894,1894-10-09,Romance,45,USA,None,Alexander Black,...,"Blanche Bayliss, William Courtenay, Chauncey D...",The adventures of a female reporter in the 1890s.,5.9,154,NaN,NaN,NaN,NaN,1.0,2.0
1,The Story of the Kelly Gang,tt0000574,The Story of the Kelly Gang,1906,1906-12-26,"Biography, Crime, Drama",70,Australia,None,Charles Tait,...,"Elizabeth Tait, John Tait, Norman Campbell, Be...",True story of notorious Australian outlaw Ned ...,6.1,589,$ 2250,NaN,NaN,NaN,7.0,7.0
2,Den sorte drøm,tt0001892,Den sorte drøm,1911,1911-08-19,Drama,53,"Germany, Denmark",NaN,Urban Gad,...,"Asta Nielsen, Valdemar Psilander, Gunnar Helse...",Two men of high rank are both wooing the beaut...,5.8,188,NaN,NaN,NaN,NaN,5.0,2.0
3,Cleopatra,tt0002101,Cleopatra,1912,1912-11-13,"Drama, History",100,USA,English,Charles L. Gaskill,...,"Helen Gardner, Pearl Sindelar, Miss Fielding, ...",The fabled queen of Egypt's affair with Roman ...,5.2,446,$ 45000,NaN,NaN,NaN,25.0,3.0
4,L'Inferno,tt0002130,L'Inferno,1911,1911-03-06,"Adventure, Drama, Fantasy",68,Italy,Italian,"Francesco Bertolini, Adolfo Padovan",...,"Salvatore Papa, Arturo Pirovano, Giuseppe de L...",Loosely adapted from Dante's Divine Comedy and...,7.0,2237,NaN,NaN,NaN,NaN,31.0,14.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
85850,Le lion,tt9908390,Le lion,2020,2020-01-29,Comedy,95,"France, Belgium",French,Ludovic Colbeau-Justin,...,"Dany Boon, Philippe Katerine, Anne Serra, Samu...",A psychiatric hospital patient pretends to be ...,5.3,398,NaN,NaN,$ 3507171,NaN,NaN,4.0
85851,De Beentjes van Sint-Hildegard,tt9911196,De Beentjes van Sint-Hildegard,2020,2020-02-13,"Comedy, Drama",103,Netherlands,"German, Dutch",Johan Nijenhuis,...,"Herman Finkers, Johanna ter Steege, Leonie ter...",A middle-aged veterinary surgeon believes his ...,7.7,724,NaN,NaN,$ 7299062,NaN,6.0,4.0
85852,Padmavyuhathile Abhimanyu,tt9911774,Padmavyuhathile Abhimanyu,2019,2019-03-08,Drama,130,India,Malayalam,Vineesh Aaradya,...,"Anoop Chandran, Indrans, Sona Nair, Simon Brit...",NaN,7.9,265,NaN,NaN,NaN,NaN,NaN,NaN
85853,Sokagin Çocuklari,tt9914286,Sokagin Çocuklari,2019,2019-03-15,"Drama, Family",98,Turkey,Turkish,Ahmet Faik Akinci,...,"Ahmet Faik Akinci, Belma Mamati, Metin Keçeci,...",NaN,6.4,194,NaN,NaN,$ 2833,NaN,NaN,NaN
85854,La vida sense la Sara Amat,tt9914942,La vida sense la Sara Amat,2019,2020-02-05,Drama,74,Spain,Catalan,Laura Jou,...,"Maria Morera Colomer, Biel Rossell Pelfort, Is...","Pep, a 13-year-old boy, is in love with a girl...",6.7,102,NaN,NaN,$ 59794,NaN,NaN,2.0

In [85]:
index=movie.index

In [86]:
columns = movie.columns

In [87]:
columns = columns.to_list()

In [88]:
columns

['imdb_title_id',
 'original_title',
 'year',
 'date_published',
 'genre',
 'duration',
 'country',
 'language',
 'director',
 'writer',
 'production_company',
 'actors',
 'description',
 'avg_vote',
 'votes',
 'budget',
 'usa_gross_income',
 'worlwide_gross_income',
 'metascore',
 'reviews_from_users',
 'reviews_from_critics']

In [89]:
column_names = dict()

In [90]:
column_names

{}

In [96]:
for i in columns:
    
    column_names[i] = i.upper()

In [97]:
column_names

{'imdb_title_id': 'IMDB_TITLE_ID',
 'original_title': 'ORIGINAL_TITLE',
 'year': 'YEAR',
 'date_published': 'DATE_PUBLISHED',
 'genre': 'GENRE',
 'duration': 'DURATION',
 'country': 'COUNTRY',
 'language': 'LANGUAGE',
 'director': 'DIRECTOR',
 'writer': 'WRITER',
 'production_company': 'PRODUCTION_COMPANY',
 'actors': 'ACTORS',
 'description': 'DESCRIPTION',
 'avg_vote': 'AVG_VOTE',
 'votes': 'VOTES',
 'budget': 'BUDGET',
 'usa_gross_income': 'USA_GROSS_INCOME',
 'worlwide_gross_income': 'WORLWIDE_GROSS_INCOME',
 'metascore': 'METASCORE',
 'reviews_from_users': 'REVIEWS_FROM_USERS',
 'reviews_from_critics': 'REVIEWS_FROM_CRITICS'}

In [98]:
movie.columns = column_names

In [102]:
movie.rename(columns=column_names)

,IMDB_TITLE_ID,ORIGINAL_TITLE,YEAR,DATE_PUBLISHED,GENRE,DURATION,COUNTRY,LANGUAGE,DIRECTOR,WRITER,...,ACTORS,DESCRIPTION,AVG_VOTE,VOTES,BUDGET,USA_GROSS_INCOME,WORLWIDE_GROSS_INCOME,METASCORE,REVIEWS_FROM_USERS,REVIEWS_FROM_CRITICS
title,,,,,,,,,,,,,,,,,,,,,
Miss Jerry,tt0000009,Miss Jerry,1894,1894-10-09,Romance,45,USA,None,Alexander Black,Alexander Black,...,"Blanche Bayliss, William Courtenay, Chauncey D...",The adventures of a female reporter in the 1890s.,5.9,154,NaN,NaN,NaN,NaN,1.0,2.0
The Story of the Kelly Gang,tt0000574,The Story of the Kelly Gang,1906,1906-12-26,"Biography, Crime, Drama",70,Australia,None,Charles Tait,Charles Tait,...,"Elizabeth Tait, John Tait, Norman Campbell, Be...",True story of notorious Australian outlaw Ned ...,6.1,589,$ 2250,NaN,NaN,NaN,7.0,7.0
Den sorte drøm,tt0001892,Den sorte drøm,1911,1911-08-19,Drama,53,"Germany, Denmark",NaN,Urban Gad,"Urban Gad, Gebhard Schätzler-Perasini",...,"Asta Nielsen, Valdemar Psilander, Gunnar Helse...",Two men of high rank are both wooing the beaut...,5.8,188,NaN,NaN,NaN,NaN,5.0,2.0
Cleopatra,tt0002101,Cleopatra,1912,1912-11-13,"Drama, History",100,USA,English,Charles L. Gaskill,Victorien Sardou,...,"Helen Gardner, Pearl Sindelar, Miss Fielding, ...",The fabled queen of Egypt's affair with Roman ...,5.2,446,$ 45000,NaN,NaN,NaN,25.0,3.0
L'Inferno,tt0002130,L'Inferno,1911,1911-03-06,"Adventure, Drama, Fantasy",68,Italy,Italian,"Francesco Bertolini, Adolfo Padovan",Dante Alighieri,...,"Salvatore Papa, Arturo Pirovano, Giuseppe de L...",Loosely adapted from Dante's Divine Comedy and...,7.0,2237,NaN,NaN,NaN,NaN,31.0,14.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Le lion,tt9908390,Le lion,2020,2020-01-29,Comedy,95,"France, Belgium",French,Ludovic Colbeau-Justin,"Alexandre Coquelle, Matthieu Le Naour",...,"Dany Boon, Philippe Katerine, Anne Serra, Samu...",A psychiatric hospital patient pretends to be ...,5.3,398,NaN,NaN,$ 3507171,NaN,NaN,4.0
De Beentjes van Sint-Hildegard,tt9911196,De Beentjes van Sint-Hildegard,2020,2020-02-13,"Comedy, Drama",103,Netherlands,"German, Dutch",Johan Nijenhuis,"Radek Bajgar, Herman Finkers",...,"Herman Finkers, Johanna ter Steege, Leonie ter...",A middle-aged veterinary surgeon believes his ...,7.7,724,NaN,NaN,$ 7299062,NaN,6.0,4.0
Padmavyuhathile Abhimanyu,tt9911774,Padmavyuhathile Abhimanyu,2019,2019-03-08,Drama,130,India,Malayalam,Vineesh Aaradya,"Vineesh Aaradya, Vineesh Aaradya",...,"Anoop Chandran, Indrans, Sona Nair, Simon Brit...",NaN,7.9,265,NaN,NaN,NaN,NaN,NaN,NaN
Sokagin Çocuklari,tt9914286,Sokagin Çocuklari,2019,2019-03-15,"Drama, Family",98,Turkey,Turkish,Ahmet Faik Akinci,"Ahmet Faik Akinci, Kasim Uçkan",...,"Ahmet Faik Akinci, Belma Mamati, Metin Keçeci,...",NaN,6.4,194,NaN,NaN,$ 2833,NaN,NaN,NaN
La vida sense la Sara Amat,tt9914942,La vida sense la Sara Amat,2019,2020-02-05,Drama,74,Spain,Catalan,Laura Jou,"Coral Cruz, Pep Puig",...,"Maria Morera Colomer, Biel Rossell Pelfort, Is...","Pep, a 13-year-old boy, is in love with a girl...",6.7,102,NaN,NaN,$ 59794,NaN,NaN,2.0